<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>HMZ Foods | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>

<%= render "header"%>  

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">About Us</h1>
        <!-- <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Contacts</li>
        </ul> -->
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row margin-bottom-30">
    	<div class="col-md-6 md-margin-bottom-40">
            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.</p>
            <ul class="list-unstyled">
                <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="icon-ok color-green"></i> Elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Award winning digital agency</li>
            </ul><br />

            <!-- Blockquotes -->
            <blockquote>
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.</p>
                <small>CEO Jack Bour</small>
            </blockquote>
        </div>

    	<div class="col-md-6 md-margin-bottom-40">
            <div>
               <!--  <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  -->
                <img class="img-responsive margin-bottom-20" src="/assets/machine.jpg" alt="" />
            </div>
        </div>
    </div><!--/row-->

	<!-- Meer Our Team -->
	<div class="headline"><h2>Meet Our Team</h2></div>
    <div class="row team">
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="/assets/team/ceo.jpg" alt="" />
                <h3><a>Hafiz Muhammad Zahid</a> <small>Chief Executive Officer</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="/assets/team/ceo.jpg" alt="" />
                <h3><a>Hafiz Muhammad Majid</a> <small>Project Manager</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!--/team-->
	<!-- End Meer Our Team -->

</div><!--/container-->		
<!--=== End Content Part ===-->
<%= render "footer"%>
<!-- JS Global Compulsory -->           

<script type="text/javascript">
    // jQuery(document).ready(function() {
    //     App.init();
    //     App.initSliders();        
    // });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 