<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
     <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> 
</head> 

<body>

<%= render "header"%> 

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Our Contacts</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <p>HMZ Food Industries are the leading exporters of Fresh Potatoes, onions
             & Maize to the Central Asian States, Russian Fedration, Europe,
             Far East, Middle East, Sri-Lanka, Afghanistan. The specialty of HMZ Foods     
             is its trade in Potatoes, onion and Maize.
            </p><br>
        


        <div class="col-md-9">
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=31.534162%2C74.320861", :class=>"img-responsive" %>
        </div>
        </div><!--/col-md-9-->
        
        <div class="col-md-3 pull-right">
            <!-- Google Map -->
            <div class="headline"><h2>Head Office</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li>33-C Icchra Apartments Rasool park,
                    Ferozepur Road, Lahore, Pakistan</li>
                <li><strong>Phone:</strong> +92 300 6944309</li>
                <li><strong>Email:</strong> sales@hmzfoods.com</li>
            </ul>
        </div>    
        <div class="col-md-3 pull-right">

            <div class="headline"><h2>Arifwala Office</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li>Abid Fiaz & Co.
                    shop#17 New Vegetables Market,
                    Arifwala,pakpattan</li>
                <li><strong>Cell:</strong> +9230069449221</li>
                <li><strong>Email:</strong> hmz_indst@yahoo.com</li>
            </ul>
            <!-- End Contacts -->

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Monday-Friday:</strong> 08:00 AM to 06:00 PM</li>
                <li><strong>Saturday:</strong> 09:00 AM to 02:00 PM</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>
            <!-- End Business Hours -->
        </div><!--/col-md-3-->
    </div><!--/row-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<%= render "footer"%>  
<!--=== End Footer ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/pages/contact.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        Contact.initMap();        
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/respond.js"></script>
<![endif]-->

</body>
</html> 