<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>HMZ Foods | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   
</head>	

<body>
   
 <%= render "header"%> 
<!--/header-->
<!--=== End Header ===-->    

<!--=== Slider ===-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="assets/sliders/revolution/thumbs/thumb1.jpg">

                <img src="assets/sliders/revolution/slider1.jpg">

                <div class="caption large_text sfb bg-black-opacity"
                     data-x="176"
                     data-y="12"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">
                     OVER 
                     <span style="color: #ffcc00;">1000</span> 
                     SATISFIED CUSTOMERS
                </div>

                <div class="caption randomrotate"
                     data-x="189"
                     data-y="76"
                     data-speed="600"
                     data-start="1100"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-1.jpg" alt="Image 2">
                </div>

                <div class="caption randomrotate"
                     data-x="0"
                     data-y="92"
                     data-speed="600"
                     data-start="1200"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-11.jpg" alt="Image 3">
                </div>

                <div class="caption randomrotate"
                     data-x="200"
                     data-y="209"
                     data-speed="600"
                     data-start="1300"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-9.jpg" alt="Image 4">
                </div>

                <div class="caption randomrotate"
                     data-x="97"
                     data-y="117"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-4.jpg" alt="Image 5">
                </div>

                <div class="caption randomrotate"
                     data-x="14"
                     data-y="222"
                     data-speed="600"
                     data-start="1500"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-5.jpg" alt="Image 6">
                </div>

                <div class="caption randomrotate"
                     data-x="638"
                     data-y="201"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-2.jpg" alt="Image 7">
                </div>

                <div class="caption randomrotate"
                     data-x="717"
                     data-y="294"
                     data-speed="300"
                     data-start="1700"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-6.jpg" alt="Image 8">
                </div>

                <div class="caption randomrotate"
                     data-x="682"
                     data-y="79"
                     data-speed="300"
                     data-start="1800"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-7.jpg" alt="Image 9">
                </div>

                <div class="caption randomrotate"
                     data-x="807"
                     data-y="71"
                     data-speed="300"
                     data-start="1900"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-8.jpg" alt="Image 10">
                </div>

                <div class="caption randomrotate"
                     data-x="818"
                     data-y="271"
                     data-speed="300"
                     data-start="2000"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-3.jpg" alt="Image 11">
                </div>

                <div class="caption randomrotate"
                     data-x="95"
                     data-y="248"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-12.jpg" alt="Image 12">
                </div>

                <div class="caption randomrotate"
                     data-x="762"
                     data-y="165"
                     data-speed="300"
                     data-start="2200"
                     data-easing="easeOutExpo">
                     <img class="img-border" src="assets/sliders/revolution/slider1-10.jpg" alt="Image 13">
                </div>
            </li>

            <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="assets/sliders/revolution/thumbs/thumb2.jpg">

                <img src="assets/sliders/revolution/slider2.jpg">

                <div class="caption very_big_white lfl stl"
                     data-x="18"
                     data-y="343"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
                     TIMELINED CAPTIONS
                </div>

                <div class="caption big_white lfl stl"
                     data-x="18"
                     data-y="390"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
                     MOVE CAPTIONS IN AND OUT ON ONE SLIDE
                </div>

                <div class="caption lft ltb"
                     data-x="600"
                     data-y="0"
                     data-speed="600"
                     data-start="1100"
                     data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine">
                     <img src="assets/sliders/revolution/slider2-1.jpg" alt="Image 3">
                </div>

                <div class="caption bold_green_text sft stb"
                     data-x="760"
                     data-y="290"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">
                    
                </div>

                <div class="caption big_black sfb stb"
                     data-x="780"
                     data-y="320"
                     data-speed="300"
                     data-start="1700"
                     data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine">
                    
                </div>

                <div class="caption lft ltb"
                     data-x="600"
                     data-y="0"
                     data-speed="600"
                     data-start="3600"
                     data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine">
                     <img src="assets/sliders/revolution/slider2-2.jpg" alt="Image 6">
                </div>

                <div class="caption bold_brown_text sft stb"
                     data-x="760"
                     data-y="290"
                     data-speed="300"
                     data-start="3900"
                     data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine" >
                </div>

                <div class="caption big_black sfb stb"
                     data-x="780"
                     data-y="320"
                     data-speed="300"
                     data-start="4200"
                     data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine">
                </div>

                <div class="caption lft ltb"
                     data-x="600"
                     data-y="0"
                     data-speed="600"
                     data-start="6100"
                     data-easing="easeOutExpo" data-end="8100" data-endspeed="300" data-endeasing="easeInSine">
                     <img src="assets/sliders/revolution/slider2-3.png" alt="Image 9">
                </div>

                <div class="caption bold_red_text sft stb"
                     data-x="760"
                     data-y="290"
                     data-speed="300"
                     data-start="6400"
                     data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">
                </div>

                <div class="caption big_black sfb stb"
                     data-x="780"
                     data-y="320"
                     data-speed="300"
                     data-start="6700"
                     data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine">
                     
                </div>
            </li>

            <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="assets/sliders/revolution/thumbs/thumb3.jpg">

                <img src="assets/sliders/revolution/slider3.jpg" >

                <div class="caption large_text sft"
                     data-x="10"
                     data-y="44"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">
                     TOUCH ENABLED
                </div>

                <div class="caption medium_text sfl"
                     data-x="39"
                     data-y="82"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">
                     AND
                </div>

                <div class="caption large_text sfr"
                     data-x="88"
                     data-y="78"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">
                     <span style="color: #72c02c;">RESPONSIVE</span>
                </div>

                <div class="caption lfl"
                     data-x="10"
                     data-y="150"
                     data-speed="800"
                     data-start="900"
                     data-easing="easeOutExpo">
                     <img src="assets/sliders/revolution/slider3-1.jpg" alt="Image 4">
                </div>

                <div class="caption lfl"
                     data-x="210"
                     data-y="245"
                     data-speed="600"
                     data-start="1000"
                     data-easing="easeOutExpo">
                     <img src="assets/sliders/revolution/slider3-2.jpg" alt="Image 5">
                </div>

                <div class="caption lfl"
                     data-x="322"
                     data-y="313"
                     data-speed="400"
                     data-start="1100"
                     data-easing="easeOutExpo">
                     <img src="assets/sliders/revolution/slider3-3.jpg" alt="Image 6">
                </div>

                <!-- <div class="caption lft"
                     data-x="500"
                     data-y="130"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo">
                     <img src="assets/sliders/revolution/html5andcss3.png" alt="Image 6">
                </div> -->
            </li>

            <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="assets/sliders/revolution/thumbs/thumb4.jpg">
                
                                               
                <img src="assets/sliders/revolution/bg4.jpg" >

                <div class="caption lfb boxshadow" 
                     data-x="20" 
                     data-y="120" 
                     data-speed="900" 
                     data-start="500" 
                     data-easing="easeOutBack">
                     <iframe src="http://player.vimeo.com/video/54035990?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div>

                <div class="caption sft big_black"  
                     data-x="570" 
                     data-y="120" 
                     data-speed="300" 
                     data-start="1200" 
                     data-easing="easeOutExpo">
                     Video Support
                </div>
                
                <div class="caption sft big_white" 
                     data-x="570" 
                     data-y="162" 
                     data-speed="300" 
                     data-start="1300" 
                     data-easing="easeOutExpo">
                     Vimeo Example
                </div>
                
                <div class="caption lfb medium_grey"  
                     data-x="570" 
                     data-y="215" 
                     data-speed="300" 
                     data-start="1400" 
                     data-easing="easeOutExpo">
                     You can easily add
                </div>
                
                <div class="caption lfb medium_grey"  
                     data-x="570" 
                     data-y="240" 
                     data-speed="300" 
                     data-start="1500" 
                     data-easing="easeOutExpo">   
                     Vimeo & Youtube Videos
                </div>
                
                <div class="caption lfb medium_grey" 
                     data-x="570" 
                     data-y="265" 
                     data-speed="300" 
                     data-start="1600" 
                     data-easing="easeOutExpo">
                     to your Slides
                </div>
            </li>
        </ul>

        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
               <!--  <h3 style="background-color: #72c02c;height: 38px;padding-top: 6px;width: 87%;padding-left: 3px;">Welcome to HMZ Food Industries (Vegetables and Rice Exporters)</h3><br/> -->
                <h3 style="font-size: 20px;">We are Leading Vegetable and Rice Supplier from all over the Pakistan.</h3>
                <p>HMZ Foods is one of the Leading Supplier of Pakistan. We have a strong network of Fresh Vegetable Farms and Rice Fields, Processing Units, Storage, transportation and Export. We are mainly dealing in the export of best quality fresh vegetable (all variety of Potato) and Rice available in Pakistan.</p>
            </div>            
            <div class="col-md-3">
                <!-- <a href="#" class="btn-buy hover-effect">Purchase Now</a>             -->
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	
	<!-- Service Blocks -->
	<div class="row margin-bottom-10">
    	<div class="col-md-4 service-alternative">
    		<div class="service">
                <i class="service-icon"></i>
    			<div class="desc">
    				<h4 style="background-color: #72c02c">Potato</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4 service-alternative">
    		<div class="service">
                <i class="service-icon"></i>
    			<div class="desc">
    				<h4 style="background-color: #72c02c">Onion</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4 service-alternative">
    		<div class="service">
                <i class="service-icon"></i>
    			<div class="desc">
    				<h4 style="background-color: #72c02c">Rice</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-->
	<!-- End Service Blokcs -->
    
	<!-- Info Blokcs -->
	<div class="row margin-bottom-10">
    	<!-- Welcome Block -->
		<div class="col-md-8">
			<div class="headline"><h2>Welcome To Unify</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="assets/new/ceo.jpg" alt="" />
                </div>
                <div class="col-sm-8">
                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    </ul>                    
                </div>
            </div>

            <blockquote class="hero-unify">
                <p>HMZ Foods is a leading company in Pakistan for the supply of Vegetables And Rice. We are supplying fresh Vegetables (especially potato and onion to Middle East, Europe, Central Asian States.</p>
                <small>CEO, Hafiz Zahid</small>
            </blockquote>
        </div><!--/col-md-8-->        

        <!-- Posts -->
        <div class="col-md-4 posts">
            <div class="headline"><h3>Recent Entries</h3></div>
            <dl class="dl-horizontal">
                <dt><a href="#"><img alt="" src="assets/sliders/elastislide/6.jpg"></a></dt>
                <dd>
                    <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt><a href="#"><img alt="" src="assets/sliders/elastislide/10.jpg"></a></dt>
                <dd>
                    <p><a href="#">Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</a></p> 
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt><a href="#"><img alt="" src="assets/sliders/elastislide/11.jpg"></a></dt>
                <dd>
                    <p><a href="#">It works on all major web browsers, tablets and lorem sequat ipsum dolor.</a></p> 
                </dd>
            </dl>
        </div>
	</div><!--/row-->	
	<!-- End Info Blokcs -->

</div><!--/container-->		
<!-- End Content Part -->

<%= render "footer"%>

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="assets/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/app.js"></script>
<script type="text/javascript" src="assets/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        App.initBxSlider();
        Index.initRevolutionSlider();                
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html>	