<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
   

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head> 

<body>
   

<!--=== Header ===-->    
<%= render "header"%>
<!--/header-->
<!--=== End Header ===-->    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Rice</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container blog-page blog-item">     
    <!--Blog Post-->        
    <div class="blog margin-bottom-40">
            <!-- <div class="blog-img">
                <img class="img-responsive" src="assets/img/sliders/revolution/bg8.jpg" alt="">
            </div> -->
             <div class="col-md-7">
                <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="/assets/main/20.jpg">
                        </div>
                        <div class="item">
                            <img alt="" src="/assets/main/21.jpg">
                            
                            </div>
                        <div class="item">
                            <img alt="" src="/assets/main/22.jpg">
                            
                        </div>
                    </div>
                    
                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                            <i><</i>
                        </a>
                        <a data-slide="next" href="#myCarousel" class="right carousel-control">
                            <i >></i>
                        </a>
                    </div>
                </div>
            </div>
            <br/>
            <h2><a href="blog_item_option1.html">Rice is one of the important condiments 
        widely used in all household all the year round. Nature 
        has given us many beneficial and useful plants to mankind.</a></h2>

        <p>One such wonderful plant is rice. Rice is one of the 
        oldest cultivated herbs.
        According to the United Nations Food & Agriculture Organization,
         Pakistan is the fourth leading rice producing country now.
        </p>
        <p>
        It is wonderful vegetable. It would have been a fruit if it had not
        been pungent and full of sulphuric compound. It comes in varying shapes
        and sizes; and has beneficial properties for health particularly being fat free
        </p>
        <p>
        Recent research has suggested that rice in the diet may play a part in preventing
         heat disease and other ailments. rice bulb is rich in phosphorus, calcium and carbohydrates. 
        The pungency in rice is due to a volatile oil know as 'allyl-propyl disulphide. Its taste is
         sweet and pungent. It is an appetizer and helps in digestion of food. 
                <br/><br/>
                <blockquote>
        <p>The green leaves, immature and mature bulbs are eaten raw or used in preparation of vegetables.
         rice are most often used to enhance flavors in a wide range of recipes , soups, sauces casseroles,
         stews salads and for seasoning foods. World rice production is estimated at approximately
         105 billion pounds each year. The average annual rice consumption calculates to approximately 13.67 pounds
         of rice per person across the world The small bulbs one pickled in vinegar.
        </p>
        </blockquote>                
    </div>
  <span><strong>Long Grain IRRI-6 White Rice</strong></span>
  <hr style="width: 53%;margin-left: 0;margin-top: 11px;height:5px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">This long grain variety is inferior  to others grades of non-basmati and is generally supplied in bulk shipments to African regions.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_irri6.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.00 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  2.20 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.90 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>

  <span><strong>Super Kernel Basmati</strong></span>
  <hr style="    width: 53%;margin-left: 0;margin-top: 11px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">Super Kernel Basmati is a variety of long grain rice grown in India and Pakistan, notable for its fragrance and delicate, nuanced flavor. Its name means "the fragrant one" in Sanskrit, but it can also mean "the soft rice." India and Pakistan are the largest cultivators and exporters of this rice; it is primarily grown through paddy field farming in the Punjab region. 

      The grains of basmati rice are longer than most other types of rice. Cooked grains of Basmati rice are characteristically free flowing rather than sticky, as with most long-grain rice. Cooked basmati rice can be uniquely identified by its fragrance. Basmati rice is available in two varieties - white and brown.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_sup_kernel.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.45 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.62 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.51 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Present</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>


  <span><strong>Basmati D-98</strong></span>
  <hr style="    width: 53%;margin-left: 0;margin-top: 11px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">D-98 Basmati Rice from Sindh Province of Pakistan, is also known to the world as ‘Sindhi Basmati’. Due to its extra long length, rich pearl white color and highly aromatic grain, it is in more demand now than PK 385 basmati rice. This type of rice is a vital food for the population of the world today and is considered one of the best types of basmati now known. 

      This Sindh variety of Basmati Rice with medium grain length is an economical substitute to Super Kernel, yet maintains many key basmati characteristics.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_bas_D98.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  6.80 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.80 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.47 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Strong</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>


  <span><strong>Long Grain PK 386 Rice</strong></span>
  <hr style="    width: 53%;margin-left: 0;margin-top: 11px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">Having a longer grain, this rice variety is appropriate for the rice lovers who enjoy slightly dry types of cuisines. Nevertheless, due to the superiority over other long grain varieties, PK 386 is one of the most demanded non-basmati varieties.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_pk386.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.45 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.62 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.51 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Not Present</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>


  <span><strong>Parboiled 1121 Basmati Sella</strong></span>
  <hr style="    width: 53%;margin-left: 0;margin-top: 11px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">Parboiled Rice is the rice variety that undergoes a hydrothermal steaming process to partially boil the un-husked rice. This process enhances the strength of rice grains for better cooking results.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_1121_sella.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  8.60 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.89 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.43 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Not Present</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>


  <span><strong>100% Broken Rice</strong></span>
  <hr style="    width: 53%;margin-left: 0;margin-top: 11px;border-top: #D38014 1px solid;">  
  <table width="605" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td colspan="2" align="left" valign="top">&nbsp;</td>
      <td width="260" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="328" align="left" valign="top" class="bodyTEXT">Soneri Traders is the top supplier of the best grade 100% broken clean white rice, none discolored grains, fully sortexed without foreign matter such as free from millet, wheat or paddy grains. Our Broken rice does not carry red streaked kernels or damaged grains to be used in baby cereals and other sophisticated branded grain foods/ingredients. This broken silky polished rice meets the food standards code and is liked by multi-nationals and leading manufacturers in their food processing. 

      100% broken rice is available in both basmati broken and non-basmati white broken grades. Suiting the needs, this broken Pakistani rice is using in making rice flour free from gluten.</td>
      <td width="20" align="left" valign="top">&nbsp;</td>
      <td align="right" valign="top"><img src="/assets/var_broken.jpg" alt="var_sup_kernel" width="260" height="207"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td height="65"><span style="color:#4D600A;" class="available"><strong>Availability:</strong><br>
            Packaging: 2-5-10-25-50 kg in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span>
          </td>
        </tr>
        <tr>
          <td height="29"><span style="color: #D38014;" class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  3-4.5 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  n/a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  n/a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Not Present</span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
      </td>
    </tr>
    </tbody>
  </table>
    <!--End Blog Post-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!--=== Footer ===-->
    <%= render "footer"%>
<!--/footer-->    
<!--=== End Footer ===-->
<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/respond.js"></script>
<![endif]-->

</body>
</html> 