<tr>
                    <td>&nbsp;</td>
                    <td align="left" valign="top">
                      
                      <table width="606" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="30" class="bodyTEXT"><strong><a name="super_kernel" id="super_kernel"></a>Super Kernel Basmati</strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="605" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="2" align="left" valign="top">&nbsp;</td>
                                <td width="260" align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="328" align="left" valign="top" class="bodyTEXT">Super Kernel Basmati is a variety of long grain rice grown in India and Pakistan, notable for its fragrance and delicate, nuanced flavor. Its name means "the fragrant one" in Sanskrit, but it can also mean "the soft rice." India and Pakistan are the largest cultivators and exporters of this rice; it is primarily grown through paddy field farming in the Punjab region.
<br /><br />The grains of basmati rice are longer than most other types of rice. Cooked grains of Basmati rice are characteristically free flowing rather than sticky, as with most long-grain rice. Cooked basmati rice can be uniquely identified by its fragrance. Basmati rice is available in two varieties - white and brown.</td>
                                <td width="20" align="left" valign="top">&nbsp;</td>
                                <td align="right" valign="top"><img src="images/var_sup_kernel.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                              </tr>
                              <tr>
                                <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Length:  7.45 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.62 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.51 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table></td>
                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="D98" id="D98"></a>Basmati D98</strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">D-98 Basmati Rice from Sindh Province of Pakistan, is also known to the world as ‘Sindhi Basmati’. Due to its extra long length, rich pearl white color and highly aromatic grain, it is in more demand now than PK 385 basmati rice. This type of rice is a vital food for the population of the world today and is considered one of the best types of basmati now known.
<br /><br />This Sindh variety of Basmati Rice with medium grain length is an economical substitute to Super Kernel, yet maintains many key basmati characteristics.<br /><br />
<strong>Origination</strong><br /><br />
D-98 is one of the best basmati grown in the Province of Sindh, Pakistan. The areas containing rich soil and the perfect conditions in Sindh, Pakistan, D-98 has been growing for over a decade.</td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_bas_D98.jpg" alt="D98" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="10"></td>
                                </tr>
                                <tr>
                                  <td height="65"><span class="available"><strong>Availability:</strong><br />
                                    Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                </tr>
                                <tr>
                                  <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Length:  6.80 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.80 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.47 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma: Strong  </span></td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="pk386" id="pk386"></a>Long Grain PK 386 Rice</strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">Having a longer grain, this rice variety is appropriate for the rice lovers who enjoy slightly dry types of cuisines. Nevertheless, due to the superiority over other long grain varieties, PK 386 is one of the most demanded non-basmati varieties.</td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_pk386.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.45 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.62 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.51 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="irri6" id="irri6"></a>Long Grain IRRI-6 White Rice</strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">This long grain variety is inferior to others grades of non-basmati and is generally supplied in bulk shipments to African regions.</td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_irri6.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.00 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  2.20 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.90 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table>                            </td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="irri9" id="irri9"></a>Long Grain IRRI-9 White Rice</strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">Many people prefer the muggy touch this rice has to offer. Much of Pakistan's export of IRRI-9 goes to the Middle East.</td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_irri9.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  6.93 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.69 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.46 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="sella_irri6" id="sella_irri6"></a>Parboiled Sella IRRI-6 Long Grain Rice </strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">Parboiled Rice is the rice variety that undergoes a hydrothermal steaming process to partially boil the un-husked rice. This process enhances the strength of rice grains for better cooking results. </td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_irri6_sella.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  7.00 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  2.20 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.90 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="Bas_1121_sella" id="Bas_1121_sella"></a>Parboiled 1121 Basmati Sella  </strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">Parboiled Rice is the rice variety that undergoes a hydrothermal steaming process to partially boil the un-husked rice. This process enhances the strength of rice grains for better cooking results. </td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_1121_sella.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;0-2% Broken&nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  8.60 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  1.89 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  1.43 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="30"class="bodyTEXT"><strong><a name="broken" id="broken"></a>100% Broken Rice </strong></td>
                        </tr>
                        <tr>
                          <td height="1" bgcolor="#ECC150"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top">&nbsp;</td>
                              <td width="260" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="328" align="left" valign="top" class="bodyTEXT">Soneri Traders is the top supplier of the best grade 100% broken clean white rice, none discolored grains, fully sortexed without foreign matter such as free from millet, wheat or paddy grains. Our Broken rice does not carry red streaked kernels or damaged grains to be used in baby cereals and other sophisticated branded grain foods/ingredients. This broken silky polished rice meets the food standards code and is liked by multi-nationals and leading manufacturers in their food processing.

<br /><br />100% broken rice is available in both basmati broken and non-basmati white broken grades. Suiting the needs, this broken Pakistani rice is using in making rice flour free from gluten.
</td>
                              <td width="20" align="left" valign="top">&nbsp;</td>
                              <td align="right" valign="top"><img src="images/var_broken.jpg" alt="var_sup_kernel" width="260" height="207" /></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="left" valign="top"><table width="605" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="10"></td>
                                  </tr>
                                  <tr>
                                    <td height="65"><span class="available"><strong>Availability:</strong><br />
                                      Packaging: 2-5-10-25-50 kg  in PP Jute or Cotton bags &nbsp;| &nbsp;Sortexed&nbsp; |  &nbsp;Double Polished / Silky Polished </span></td>
                                  </tr>
                                  <tr>
                                    <td height="29"><span class="specs"><strong>Specifications:</strong> &nbsp;&nbsp;&nbsp;Length:  3-4.5 mm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Width:  n/a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thickness:  n/a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aroma:  Not Present</span></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                       </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>